<!DOCTYPE html>
<html>

<head>
    <title>Home - oli.casa</title>
    <%- include('../partials/head'); %>
</head>

<body>
    <header>
        <%- include('../partials/header'); %>
    </header>
    <main>
        <h1>Home</h1>
        <p>Welcome, <%- email %></p>
        <a href="https://system.oli.casa/">The System</a>
        <a href="/myaccount">Manage your account</a>
        <a href="/logout">Log Out</a>
    </main>

    <footer>
        <%- include('../partials/footer'); %>
    </footer>
</body>

</html>
