<!DOCTYPE html>
<html>

<head>
    <title>Reset Password - oli.casa</title>
    <%- include('../partials/head'); %>
</head>

<body>
    <header>
        <%- include('../partials/header'); %>
    </header>
    <main>
        <h1>Reset Password</h1>
        <p>
            Password reset requested. Please check your emails.
        </p>
    </main>

    <footer>
        <%- include('../partials/footer'); %>
    </footer>
</body>

</html>