<!DOCTYPE html>
<html>

<head>
    <title>Reset Password - oli.casa</title>
    <%- include('../partials/head'); %>
</head>

<body>
    <header>
        <%- include('../partials/header'); %>
    </header>
    <main>
        <h1>Reset Password</h1>
        <form action="/api/resetpassword" method="post">
            <label>Email:</label>
            <input autocomplete="email" type="text" id="email" placeholder="Email..." name="email"/>    
            <a class="warning"><%- error %></a>
            <input id="submitButton" type="submit" value="Reset Password" />
        </form>
        <a href="/">Return to login</a>
    </main>

    <footer>
        <%- include('../partials/footer'); %>
    </footer>
</body>

</html>