<!DOCTYPE html>
<html>

<head>
    <title>Home | oli.casa</title>
    <link rel="stylesheet" href="./css/styles.css">
</head>

<body>
    <div id="container">
        <h1>Home | oli.casa</h1>
        <p>Welcome, <%- email %></p>
        <a href="/logout">Log Out</a>
    </div>
</body>

</html>
