<!DOCTYPE html>
<html>

<head>
    <title>My Account | oli.casa</title>
    <link rel="stylesheet" href="./css/styles.css">
</head>

<body>
    <main>
        <h1>My Account | oli.casa</h1>
        <p>Welcome, <%- email %></p>
        <div id="updatePassword" class="form">
            <h3>Update Password</h3>
            <form action="/api/updatePassword" method="post" id="updatePasswordForm">
                <input autocomplete="email" type="text" id="email" placeholder="Email..." name="email" hidden/>    

                <a>Current Password:</a>
                <input autocomplete="current-password" type="password" id="current-password" placeholder="" name="password" />

                <a>New Password:</a>
                <input autocomplete="new-password" type="password" id="password" placeholder="" name="new_password" />
                <a id="passError" class="warning"></a>
    
                <a>Confirm New Password:</a>
                <input autocomplete="new-password" type="password" id="passwordConfirm" placeholder="" name="new_password_confirm" />
                <a id="confPassError" class="warning"></a>
        
                <a class="warning"><%- error %></a>
                <a class="success"><%- success %></a>
                <input id="submitButton" type="submit" value="Change Password" />
            </form>
        </div>
        <a href="/">Home</a>
        <a href="/logout">Log Out</a>
    </main>

    <script src="./js/myaccount.js"></script>
</body>

</html>