<!DOCTYPE html>
<html>

<head>
    <title>Register | oli.casa</title>
    <link rel="stylesheet" href="./css/styles.css">
</head>

<body>
    <main>
        <h1>Register | oli.casa</h1>
        <form action="/api/signup" method="post" id="loginForm">
            <a>Email:</a>
            <input autocomplete="email" type="text" id="email" placeholder="Email..." name="email" />
            <a id="emailError" class="warning"></a>

            <a>Password:</a>
            <input autocomplete="new-password" type="password" id="password" placeholder="" name="password" />
            <a id="passError" class="warning"></a>

            <a>Confirm Password:</a>
            <input autocomplete="new-password" type="password" id="passwordConfirm" placeholder="" name="passwordConfirm" />

            <a class="warning"><%- error %></a>
            <a id="confPassError" class="warning"></a>

            <input style="display: none" type="text" value="<%- redirect %>" name ="redirect"/>

            <input id="submitButton" type="submit" value="Sign Up" />
        </form>

        <a href="/">Back to login</a>
    </main>

    <script src="./js/registration.js"></script>
</body>

</html>
