html, body{
    padding: 0;
    margin: 0;
    background-color: antiquewhite;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
}

div#container, main{
    display: block;
    width: min(500px, 90vw);
    height: 100vh;
    margin: 0 auto;
    background-color: white;
    padding: 20px;
    text-align: center;
}
a{
    display: block;
}
form a{
    text-align: left;
    padding: 0px 50px
}

a.warning{
    text-align: center;
    color: red;
}
a.success{
    text-align: center;
    color: black;
}

form input[type="text"], [type="password"]
{
    margin: 5px auto;
    width: 70%;
}